.menu-item{
    margin-left: 20px;
    font-size: 18px;
}
.edit-button{
    float: right;
}
.table-cont td input{
    display: block;
    max-width: 50px;
    margin: auto;
    text-align: center;
}
.table-cont td input:focus{
    outline: none;
}
.table-cont td{
    padding: 4px;
    width: 20px;
}
.icon-date{
    width: 50px;
    float: right;
}
.date-input{
    width:0;
    height: 0;
    border: none;
}
.ui-datepicker-header {
    background-color: #e86d6d;
}

.ui-datepicker-today a.ui-state-highlight{
    border-color: #b51919;
    color: #b51919;
    background: white;
}
.notes-table th{
    width: 5%;
}

.table-cont tr{
    text-align: center;
}
